.History {
    max-height: 100px;
    overflow: auto;
    border-top: 1px solid #676b6f;
    table-layout: auto;
    width: 100%;

    @media only screen and (max-width: 480px) {
        display: none;
    }

    table {
        font-size: 10px;
    }
}