@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400');
$primary-color: #141823;

html {
    height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    background-color: #4a4d50;
    color: #F1F1F2;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    font-size: 15px;
    width: 100%;
    overflow: hidden;
}

a {
    color: #F1F1F2;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.AppHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #676b6f;
}

.AppLogout {
    display: flex;
    width: 25%;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px 20px;
}

.AppRoom {
    display: flex;
    width: 85%;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px 20px;
}

.AppBody {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    max-height: 96%;
}

.MessageWrapper {
    display: flex;
    flex-direction: column;
    width: 85%;
    flex: 1;
}