@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
$primary-color: #141823;

html {
    height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: $primary-color;
    z-index: 1;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.AppHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.AppLogout {
    display: flex;
    width: 25%;
    border-right: 1px solid #ccc;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px 20px;
}

.AppRoom {
    display: flex;
    width: 75%;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px 20px;
}

.AppBody {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%
}

.MessageWrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
    flex: 1;
}