.Users {
    display: flex;
    width: 15%;
    min-width: 150px;
    justify-content: flex-start;
    flex-direction: column;
    border-right: 1px solid #676b6f;
    @media only screen and (max-width: 480px) {
        min-width: 95px;
    }
}

.UsersOnline {
    padding: 20px;
    text-align: center;
}

.UsersList {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.UserItem {
    list-style: none;
    border-bottom: 1px solid #676b6f;
    padding: 5px;
    margin: 0 0 0 5px;
    font-size: 10px;
}